<div class="container">
    <form class="mt-5 sign-up-form">
        <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" aria-describedby="username">
    </div>
    <div class="mb-3">
        <label for="email-login" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="password-login" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-login">
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
    <a href="/login"><p>Log In Instead</p></a>
    </form>
</div>

<script src="./js/signup.js"></script>